[submodule "lambda-sh"]
	path = lambda-sh
	url = https://github.com/lambda-sh/lambda-sh
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
